
    body {
      background-color: wheat;
    }
    .nav-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0% 25%;
        }
        .nav-bar li{
        display:inline-block;
        list-style-type: none;
        padding: 8px 10px;
        }
        .nav-bar-2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #FFD600;
        padding: 20px;
        }
        .nav-bar-2 button{
        border-radius: 7px;
        }
        .nav-bar-2 input{
        border-radius: 7px;
        }
        .lego-wars{
        color: white;
        background-color: black;
        }
        .lego-wars p1{
        margin-left: 45%;
        font-family: fantasy;
        } 

  
  .section1{
    display: flex;
    justify-content: space-between;
  }
.button{
    background-color: #FFD600;
}

    
    
.about{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-bottom: -40%;
}
.one{
    display: flex;
    justify-content: space-between;
    margin-right: 35%;
    background-color: yellow;
    
}
.search{
    padding-left: 10%;
}
.toy{
    width: 450px;
    height: 250px;
    margin-left: 2%;
    margin-top: 2%;
}
.head{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 7%;
}
.movies{
    display: flex;
     margin-left:13% ;
     justify-content: space-between;
     margin-top: 9%;
}
.title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.new{
    display: flex;
    margin-left: 13%;
    justify-content: space-between;
    
}
.photo2{
    width:20;

}

.part1{
    margin-top: 9%;
}
.part2{
    margin-top: 9%;
}
.title2{
text-align: center;
font-size: 30px;
font-weight: bold;

}
.series{display: flex;
    justify-content: space-between;

}
.series2{
    display:flex;
    justify-content: space-between;}

    .image{width: 300px;
        height: 300px;
        margin-top: 5%;}  

.series3{
    display: flex;
    justify-content: space-between;
    margin-top:1%;
    
}
.ninja1{
    width:270px;
    height:300px;
    
}
.ninja2{
    width:270px;
    height:300px;

}
.ninja3{
    width:280px;
    height:300px;

}
.ninja4{
    width: 270px;
    height: 300px;

}
.buttons{
margin-top: 5%;
    text-align: center;

}
.title4{
    background-color: #FFD600;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.title5{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 15%;
}
.title6{

    display: flex;
    justify-content: space-between;
}
.buttoon{
    margin-right: 3%;
}
.discounts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.discounts img{
    width: 65%;
    border-radius: 7px;
}
.discount-offer{
    padding: 0px 12px;
    background-color: #FFD600;
    

}
.new img{
    width: 25%;
    margin-left: 10%;
}
.discount-footer{
    border-radius: 7px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-div{
    background-color: #26004C;
    color: white;
    padding: 2px 15px;
    
}

.footer-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}       
@media only screen and(max-width:700px) {
    .main{
       display: grid;
       grid-template-columns: repeat(1, 1fr);
    }
    
 }
 

