.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0% 25%;
    }
    .nav-bar li{
    display:inline-block;
    list-style-type: none;
    padding: 8px 10px;
    }
    .nav-bar-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFD600;
    padding: 20px;
    }
    .nav-bar-2 button{
    border-radius: 7px;
    }
    .nav-bar-2 input{
    border-radius: 7px;
    }
    .lego-wars{
    color: white;
    background-color: black;
    }
    .lego-wars p1{
    margin-left: 45%;
    font-family: fantasy;
    } 
        .AT1{
            width: 500px;
            height: 500px;
        }
        .now{
            color: green;
            font-weight: bolder;
        }
        
        .circle{
            background-color: #FFD600;

        }
        .circle1{
            border-radius: 150px;
            color: white;
            background-color: #FFD600;
        }
        .clock{
            background-color: red;
            color: white;
        }
        #href{
            color: red;
        }
        #href1{
color: green;
font-weight: bold;
        }
     .small3{
        width: 130px;
        height: 130px;
     } 
     .small4{
        width: 130px;
        height: 130px;
     }  
     .about{
    color:white;
    background-color: #FFD600;
        
     }
     .part2{
        text-align: center;
    }
    .video{
        margin-left: 3%;
        padding-bottom: 2%;
        padding-right: 4%;
        }

        .review{
            padding-bottom: 2%;
            padding-right: 4%;
        }
    .about{
        margin-right: 3%;
        padding-bottom: 2%;
        padding-right: 4%;
    }
    .para1{
        text-align: center;
    }
    .title2{
        text-align: center;
    }
    .center1{
         margin-left: 35%;
    }
    .walk{
        margin-left: 4%; 
        border: solid;
        border-radius: 10px;
        border-color: #FFD600;
    }
    .walk1{
        margin-left:10% ;
        border: solid;
        border-radius: 10px;
        border-color: #FFD600;
    }
    .walk2{
        margin-left: 44%;
        border: solid;
        border-radius: 10px;
        border-color: #FFD600;
        margin-top: 2%;
    }
    .title4{
        text-align: center;
    }


    .line0{
        margin-right: 5%;
    }
    .movies{
        display: flex;
         margin-left:13% ;
         justify-content: space-between;
         margin-top: 15%;
        }
.one{
    color: antiquewhite;
    background-color: #FFD600;
}
.front1{
    display: flex;
    justify-content: space-between;
}
.front2{
margin-right: 15%;
}
.discount-footer{
    border-radius: 7px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-div{
    background-color: #26004C;
    color: white;
    padding: 2px 15px;
    
}

.footer-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}       
